ServiceTester/Service References/TaskboardService/ServiceDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Story">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStory" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:StoryState" />
      <xs:element minOccurs="0" name="StoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Story" nillable="true" type="tns:Story" />
  <xs:simpleType name="StoryState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Abandoned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StoryState" nillable="true" type="tns:StoryState" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estimation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfStory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="tns:Story" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStory" nillable="true" type="tns:ArrayOfStory" />
</xs:schema>