ServiceTester/Service References/ProjectService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" />
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="project" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="CreateProjectResult" nillable="true" type="q2:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetProjectByIDResult" nillable="true" type="q3:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="project" nillable="true" type="q4:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdateProjectResult" nillable="true" type="q5:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="sprint" nillable="true" type="q6:Sprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="CreateSprintResult" nillable="true" type="q7:Sprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sprintID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSprintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sprintID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetSprintByIDResult" nillable="true" type="q8:Sprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="sprint" nillable="true" type="q9:Sprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdateSprintResult" nillable="true" type="q10:Sprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintsInProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSprintsInProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetSprintsInProjectResult" nillable="true" type="q11:ArrayOfSprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="role" nillable="true" type="q12:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GiveRoleResult" nillable="true" type="q13:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedSprints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosedSprintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetClosedSprintsResult" nillable="true" type="q14:ArrayOfSprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="meeting" nillable="true" type="q15:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="CreateMeetingResult" nillable="true" type="q16:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMeetingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetMeetingByIDResult" nillable="true" type="q17:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="meeting" nillable="true" type="q18:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMeetingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdateMeetingResult" nillable="true" type="q19:Meeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingsInProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingsInProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetMeetingsInProjectResult" nillable="true" type="q20:ArrayOfMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingsOnDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingsOnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetMeetingsOnDateResult" nillable="true" type="q21:ArrayOfMeeting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>