ServiceTester/Service References/ProjectService/ServiceDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertLimit" type="xs:int" />
      <xs:element minOccurs="0" name="Meetings" nillable="true" type="tns:ArrayOfMeeting" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="SprintDuration" type="xs:int" />
      <xs:element minOccurs="0" name="Sprints" nillable="true" type="tns:ArrayOfSprint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meeting" nillable="true" type="tns:Meeting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeeting" nillable="true" type="tns:ArrayOfMeeting" />
  <xs:complexType name="Meeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MeetingID" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Meeting" nillable="true" type="tns:Meeting" />
  <xs:complexType name="ArrayOfSprint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sprint" nillable="true" type="tns:Sprint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSprint" nillable="true" type="tns:ArrayOfSprint" />
  <xs:complexType name="Sprint">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Closed" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="SprintID" type="xs:int" />
      <xs:element minOccurs="0" name="Stories" nillable="true" type="tns:ArrayOfStory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sprint" nillable="true" type="tns:Sprint" />
  <xs:complexType name="ArrayOfStory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="tns:Story" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStory" nillable="true" type="tns:ArrayOfStory" />
  <xs:complexType name="Story">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStory" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:StoryState" />
      <xs:element minOccurs="0" name="StoryID" type="xs:int" />
      <xs:element minOccurs="0" name="StorySprints" nillable="true" type="tns:ArrayOfStorySprint" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Story" nillable="true" type="tns:Story" />
  <xs:simpleType name="StoryState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Abandoned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StoryState" nillable="true" type="tns:StoryState" />
  <xs:complexType name="ArrayOfStorySprint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorySprint" nillable="true" type="tns:StorySprint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorySprint" nillable="true" type="tns:ArrayOfStorySprint" />
  <xs:complexType name="StorySprint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="tns:StoryPriority" />
      <xs:element minOccurs="0" name="SprintID" type="xs:int" />
      <xs:element minOccurs="0" name="StoryID" type="xs:int" />
      <xs:element minOccurs="0" name="StorySprintID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorySprint" nillable="true" type="tns:StorySprint" />
  <xs:simpleType name="StoryPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Must" />
      <xs:enumeration value="Should" />
      <xs:enumeration value="Could" />
      <xs:enumeration value="Wont" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StoryPriority" nillable="true" type="tns:StoryPriority" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estimation" type="xs:int" />
      <xs:element minOccurs="0" name="PersonTasks" nillable="true" type="tns:ArrayOfPersonTask" />
      <xs:element minOccurs="0" name="State" type="tns:TaskState" />
      <xs:element minOccurs="0" name="StoryID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfPersonTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonTask" nillable="true" type="tns:PersonTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonTask" nillable="true" type="tns:ArrayOfPersonTask" />
  <xs:complexType name="PersonTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonTaskID" type="xs:int" />
      <xs:element minOccurs="0" name="SpentTime" type="xs:double" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTask" nillable="true" type="tns:PersonTask" />
  <xs:simpleType name="TaskState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Waiting" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Testing" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaskState" nillable="true" type="tns:TaskState" />
</xs:schema>