ServiceTester/Service References/ProjectService/ServiceDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SprintDuration" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="Sprint">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Closed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SprintID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Stories" nillable="true" type="tns:ArrayOfStory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sprint" nillable="true" type="tns:Sprint" />
  <xs:complexType name="ArrayOfStory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="tns:Story" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStory" nillable="true" type="tns:ArrayOfStory" />
  <xs:complexType name="Story">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStory" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="tns:StoryState" />
      <xs:element minOccurs="0" name="StoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Story" nillable="true" type="tns:Story" />
  <xs:simpleType name="StoryState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Abandoned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StoryState" nillable="true" type="tns:StoryState" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estimation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StoryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TaskID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
  <xs:complexType name="ArrayOfSprint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sprint" nillable="true" type="tns:Sprint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSprint" nillable="true" type="tns:ArrayOfSprint" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedTime" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoleDescription" type="tns:RoleDescription" />
      <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:simpleType name="RoleDescription">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Null" />
      <xs:enumeration value="ProjectManager" />
      <xs:enumeration value="ScrumMaster" />
      <xs:enumeration value="ProductOwner" />
      <xs:enumeration value="TeamMember" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleDescription" nillable="true" type="tns:RoleDescription" />
  <xs:complexType name="Meeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MeetingID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Meeting" nillable="true" type="tns:Meeting" />
  <xs:complexType name="ArrayOfMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meeting" nillable="true" type="tns:Meeting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeeting" nillable="true" type="tns:ArrayOfMeeting" />
</xs:schema>