ServiceTester/Service References/UserService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" />
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="CreatePersonResult" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="person" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q4:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdatePersonPasswordResult" nillable="true" type="q5:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetPersonByIDResult" nillable="true" type="q6:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetPersonByEmailResult" nillable="true" type="q7:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="role" nillable="true" type="q8:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="CreateRoleResult" nillable="true" type="q9:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="role" nillable="true" type="q10:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdateRoleResult" nillable="true" type="q11:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRolePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRolePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="UpdateRolePasswordResult" nillable="true" type="q12:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetRoleByIDResult" nillable="true" type="q13:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleInProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleInProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllPeopleInProjectResult" nillable="true" type="q14:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllRolesInProjectResult" nillable="true" type="q15:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllPeopleResult" nillable="true" type="q16:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksInPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksInPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllTasksInPersonResult" nillable="true" type="q17:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllRolesInPersonResult" nillable="true" type="q18:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginProjectAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginProjectAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginProjectAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleWorkingInTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleWorkingInTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServiceDataTypes" minOccurs="0" name="GetAllPeopleWorkingInTaskResult" nillable="true" type="q19:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>