ServiceTester/Service References/UserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="UserServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPersonByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPersonByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPeronsInProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeronsInProject" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPeronsInProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeronsInProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginProjectAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginProjectAdmin" />
  </wsdl:message>
  <wsdl:message name="IUserService_LoginProjectAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginProjectAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreatePerson" message="tns:IUserService_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreatePersonResponse" message="tns:IUserService_CreatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeletePerson" message="tns:IUserService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeletePersonResponse" message="tns:IUserService_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPersonByID" message="tns:IUserService_GetPersonByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPersonByIDResponse" message="tns:IUserService_GetPersonByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdatePerson" message="tns:IUserService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdatePersonResponse" message="tns:IUserService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeronsInProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPeronsInProject" message="tns:IUserService_GetPeronsInProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPeronsInProjectResponse" message="tns:IUserService_GetPeronsInProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LoginAdmin" message="tns:IUserService_LoginAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginAdminResponse" message="tns:IUserService_LoginAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginProjectAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/LoginProjectAdmin" message="tns:IUserService_LoginProjectAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginProjectAdminResponse" message="tns:IUserService_LoginProjectAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceEndpoint" type="tns:IUserService">
    <wsp:PolicyReference URI="#UserServiceEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreatePerson">
      <soap12:operation soapAction="http://tempuri.org/IUserService/CreatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IUserService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByID">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPersonByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap12:operation soapAction="http://tempuri.org/IUserService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeronsInProject">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPeronsInProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap12:operation soapAction="http://tempuri.org/IUserService/LoginAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginProjectAdmin">
      <soap12:operation soapAction="http://tempuri.org/IUserService/LoginProjectAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserServiceEndpoint" binding="tns:UserServiceEndpoint">
      <soap12:address location="net.tcp://localhost/UserService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/UserService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>