ServiceTester/Service References/UserService/ServiceDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleDescription" type="tns:RoleDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:simpleType name="RoleDescription">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProjectManager" />
      <xs:enumeration value="ScrumMaster" />
      <xs:enumeration value="ProductOwner" />
      <xs:enumeration value="TeamMember" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleDescription" nillable="true" type="tns:RoleDescription" />
</xs:schema>